{#
  Twig will by default filter out SVG markup so we use `raw` to allow ours to show.
  This matches what the svg_formatter module does in its template. Use of `raw` is
  usually a security risk, but the risk is mitigated here as the SVG markup is
  sanitised by the darylldoyle/svg-sanitizer package before we output it.
#}

{% set attributes = create_attribute() %}
{% set classes = [
  'simple-icons-icon',
  slug ? 'simple-icons-icon__' ~ slug,
] %}

<svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" {{ attributes.addClass(classes) }}>
  {{ svg_markup|raw }}
</svg>
